<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="e453a14a-b7e1-4e6d-b507-807dfce04c31" Publisher="CN=Ivan" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ModernCppHubApp.Windows</DisplayName>
    <PublisherDisplayName>Ivan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ModernCppHubApp_Windows.App">
      <m2:VisualElements DisplayName="Modern C++" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="ModernCppHubApp.Windows" ForegroundText="light" BackgroundColor="#002050">
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#002050" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>